.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
}

.main-container .navigation-container {
    order: 1;
    flex-grow: 1;
    flex-basis: 20%;

    display: flex;
    flex-direction: row;
    margin: auto;

    width: 100%;
    background-color:rgb(209, 214, 193);
}

.navigation-container .nav-btn {
    order: 1;
    flex-grow: 1;
    flex-basis: 20%;

    background-color:rgb(212, 217, 200); 
    
}

.main-container .content-container {
    order: 2;
    flex-grow: 3;
    flex-basis: 40%;
}